@import "settings";
@import "foundation";
@import "compass/css3/box-shadow";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

// TOP BAR
.top-bar {
  @include box-shadow(0 2px 5px rgba(0,0,0,.26));
}

// HEADER

#header {
  background: #009688 url(../images/TransportShip05.jpg) center center no-repeat;
  background-size: cover;

  .portrait-photo {
    margin: 50px auto 0;
    position: absolute;
    left: 50%;
    margin-left: -70px;
    z-index: 1;
    border-radius: 100px;
    border: 6px solid #fff;
  }

  .header-inner {
    padding: 210px 0 30px;
    text-align: center;
    color: $jet;
    opacity: 0.8;
    background: #fff;
  }

  .name {
    font-size: 2em;
    text-transform: uppercase;
    padding-bottom: 10px;
  }

  .title {
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 10px;
    text-transform: uppercase;
  }

  .subtitle {
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 20px;
  }

  .email, .mobile, .address {
  }

  .email a {
    color: $jet;
  }
}

// PROFILE
.intro {
  padding-bottom: 30px;
}
