@import "settings";
@import "foundation";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/background-size";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

h1, h2, h3, h4, h5 {
  strong {
    font-weight: 500;
  }
}

// TOP NAV BAR
div.sticky {
  background-color: $topbar-bg-color;
  @include box-shadow(0 2px 5px rgba(0,0,0,.26));
}

// HEADER
#header {
  background: #009688 url(../images/TransportShip05.jpg) center center no-repeat;
  background-size: cover;
  border-bottom: 3px solid $primary-color;
  padding: 20px 0;

  .portrait-photo {
    margin: 10px 0 20px 0;
    border-radius: 100px;
    border: 6px solid $primary-color;
  }

  .header-inner {
    text-align: center;
    color: $jet;
    background: rgba(#ffffff, 0.8);
    font-family: $font-family-sans-serif;
    padding: 20px 0;
  }

  .name {
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .title {
    font-size: 1.3em;
    padding-bottom: 0px;
    text-transform: uppercase;
    color: $oil;
  }

  .subtitle {
    font-size: 1em;
    padding-bottom: 15px;
    color: $oil;
  }

  .company, .email a, .mobile, .phone, .address {
    color: $oil;
    font-size: 1em;
  }
}

// UTILITIES
.imageframe-shadow-right,
.imageframe-shadow-left {
  height: 22px;
  width: 230px;
  display: inline-block;
  position: absolute;
}

.sep-shadow {
  background: transparent url(../images/sep-shadow.png) no-repeat top center;
  height: 7px;
  width: 100%;
}

.sep-dashed {
  border-bottom: 2px dashed #e7e6e6;
}

ul.list-icon-check {
  list-style: none;
  font-size: 14px;
  color: $body-secondary-font-color;

  li {
    line-height: 18px;
    margin-bottom: 15px;
    padding-left: 25px;

    &:before {
      color: #747474 !important;
      content: '\f046';
      font-family: FontAwesome;
      margin-left: -25px;
      display: inline-block;
      height: 18px;
      width: 18px;
      float: left;
    }
  }
}

.shadow-box {
  position: relative;
  &:before, &:after
  {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  &::after
  {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
  }
}

.fix-shadow-box {
  position:relative;
  z-index:1;
}

.call-for-action-panel {
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: 3px solid $primary-color;
  padding: 20px 10px 0;
  margin: 20px auto 10px;
  h2 {font-size: 1.4em; margin-bottom: 20px;}
}

blockquote {
  margin: 2.5em 0 1.5em;
  padding: 2.5em;
  position:relative;
  border-left: none;
  min-height: 160px;

  cite {
    color: $primary-color;
  }
}

blockquote:before
{
  color: $primary-color;
  content: "\201C";
  font-size: 5em;
  position:absolute;
  left:5px;
  top: 0.4em;
  line-height: 0.1em;
}

blockquote:after
{
  color: $primary-color;
  content: "\201D";
  font-size: 5em;
  position:absolute;
  right:3px;
  bottom: 0em;
  line-height: 0.1em;
}

// MAIN SECTIONS
.main-content {
  h1 {
    text-align: center;
    margin: 20px 0 5px;
  }

  .main-section {
    padding: 60px 0 30px;

    .intro {
      margin: 25px auto;
      text-align: center;
      color: $body-secondary-font-color;
    }

    .sep-shadow, .sep-dashed {
      margin-bottom: 40px;
    }
  }

}

// PROFILE
#lawyer-profile {
  .sep-shadow {
    margin-bottom: 60px;
  }
}

.content-box {
  padding: 15px 5px 30px;
  background: #e0f2f1;
  margin-bottom: 10px;

  .heading-and-icon {
    overflow: visible;
    position: relative;
    margin: 34px 0 15px;
  }

  .fa {
    position: absolute;
    top: -80px;
    left: 50%;
    margin-left: -32px;
    width: 64px;
    height: 64px;
    line-height: 64px;
    font-size: 30px;
    color: white;
    text-align: center;
    background-color: $primary-color;

    @include border-radius(75px);

    visibility: visible;
    -webkit-animation: 0.8s;
  }

  h2 {
    text-transform: capitalize;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
  }
}

// SERVICES
#legal-services {
  background-color: #f9fbe7;

  .th {
    margin-bottom: 20px;
  }
}

// TESTIMONIALS
#testimonials {
  background-color: #f0f4c3;
}

// CONTACT
#contact {
  padding-top: 0;
  background-color: #363839;


  .map {
    border-bottom: 3px solid $primary-color;
  }

  h5 {
    padding-top: 20px;
    color: $primary-color;

    .subheader {
      color: white;
    }
  }

  .contact-details {
    padding-top: 25px;
    color: white;

    a {
      color: white;
    }
  }
}

.social-links {
  margin-top: 20px;
}

i.round {
  @include border-radius(25px);
  height: 36px;
  width: 36px;
  line-height: 36px;
  font-size: 18px;
  margin: 10px 0;
  background-color: $primary-color;
  text-align: center;
  color: white;
}

// FOOTER
footer {
  background-color: #282a2b;
  color: white;
  font-size: 13px;

  .copyright {
    padding: 30px 0;
    text-align: center;

  }
}
